// Put any @imports here
// See Readme for a list of supported ones
@import "font-awesome";

// colors

$gold: #F6BD60;
$dkgray: #494846;
$rose: #F4CAC3;
$green: #84A59D;
$red: #F28482;

body {
  background: #f4d0cb;
  color: $dkgray;
}
