// Put any @imports here
// See Readme for a list of supported ones
@import "font-awesome";
@import "bourbon";
@import "neat";

// colors

$gold: #F6BD60;
$dkgray: #494846;
$rose: darken(#F4CAC3, 5%);
$ltrose: #FAE8E5;
$green: #84A59D;
$red: #F28482;

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: lighten($dkgray, 68%);
  color: $dkgray;
}

.container {
  height: 900px;
  margin: 0;
}

// layout

.pure-menu-horizontal {
  display: inline-block;
  width: 97%;
  text-align: right;
}

.top-nav {
  background-color: $dkgray;
  color: lighten($dkgray, 68%);
  padding: 5px;

  h2 {
    display: inline-block;
    font-family: 'Poiret One', cursive;
    font-size: 30px;

    a {
      text-decoration: none;
      color: lighten($dkgray, 68%);
    }
  }
}

nav {
  float: right;

  ul, li {
    display: inline-block;
    padding: 5px;

    a {
      text-decoration: none;
      color: lighten($dkgray, 68%);
    }

    a:hover {
      color: $red;
      border-bottom: 1.5px solid $red;
    }
  }
}

// home

.pure-g [class *="pure-u"] {
  font-family: 'Poiret One', cursive;
}

.color-container {
  // position: relative;
  width: 100%;
  height: 801px;
  margin: 0;
  overflow: hidden;
  color: #DEDEDD;
  text-align: center;
  font-size: 65px;

  // .text {
  //   position: absolute;
  //   font-family: 'Poiret One', cursive;
  //   opacity: 1;
  //   color: white;
  //   font-size: 100px;
  //   right: 5%;
  //   top: 35%;
  // }

  .gold {
    // @include span-columns(3);
    // @include omega();
    // margin-right: 0;
    // max-width: 100%;
    // width: 25%;
    // height: 100%;
    background-color: $gold;
    // background: linear-gradient(90deg, $gold, $red, darken($rose, 10%));
    opacity: 0.8;
  }

  .gold:hover {
    opacity: 1;
    color: $dkgray;
  }

  .rose {
    // @include span-columns(3);
    // @include omega();
    // margin-right: 0;
    // max-width: 100%;
    // width: 25%;
    // height: 100%;
    background-color: $rose;
    // background: linear-gradient(90deg, $rose, $red);
    opacity: 0.8;
  }

  .rose:hover {
    opacity: 1;
    color: $dkgray;
  }

  .red {
    // @include span-columns(3);
    // @include omega();
    // margin-right: 0;
    // max-width: 100%;
    // width: 25%;
    // height: 100%;
    background-color: $red;
    // background: linear-gradient(90deg, $red, $green);
    opacity: 0.8;
  }

  .red:hover {
    opacity: 1;
    color: $dkgray;
  }

  .green {
    // @include span-columns(3);
    // @include omega();
    // margin-right: 0;
    // max-width: 100%;
    // width: 25%;
    // height: 100%;
    background-color: $green;
    // background: linear-gradient(90deg, $green, darken($green, 10%));
    opacity: 0.8;
  }

  .green:hover {
    opacity: 1;
    color: $dkgray;
  }

}

// contact

.contact-page {
  text-align: center;
  // background: linear-gradient(90deg, $red, $gold);
  height: 800px;
  margin-top: 10%;

  h1 {
    margin: 0;
    margin-top: 10px;
    padding: 10px;
  }
}

.contact-list {
  padding: 0;

  .fa {
    font-size: 18px;
  }

  li {
    list-style: none;
    padding: 5px;
  }

  li a {
    text-decoration: none;
    color: $dkgray;

  }

  li a:hover {
    color: $red;
  }
}

// about

.about-container {
  // background: linear-gradient(90deg, $red, $rose);
  height: 900px;
  overflow: scroll;
  text-align: center;

  .about-title {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .resume-download {
    text-align: center;
    text-decoration: none;
    color: $dkgray;
    border: 1px solid $dkgray;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
  }

  .resume-download:hover {
    background-color: $dkgray;
    color: $red;
    border-radius: 3px;
  }

  .about-me {
    @include outer-container;
    width: 80%;
    padding: 5px;
    margin: 15px auto;
    font-size: 18px;
    background-color: white;

    .col {
      @include span-columns(3);

    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: $dkgray;
    }

    a:hover {
      color: $red;
    }

    .date {
      font-size: 15px;
    }

    .exp-title {
      font-weight: bold;

      a {
        text-decoration: none;
        color: $dkgray;
      }

      a:hover {
        color: $red;
      }
    }
  }
}


// portfolio

.portfolio-body {
  width: 100%;
  height: 800px;

  h1 {
    text-align: center;
  }

  .block {
    // @include span-columns(3);
    // list-style: none;
    position: relative;
    padding: 5px;
  }

  .screenshots {
    width: 275px;
  }


  .tile-info {
    display: none;
    background-color: $gold;
    color: $dkgray;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30%;
    padding: 5px;
    top: 0;
    left: 0;
  }

  .block:hover .tile-info{
    display: block;
    background-color: $gold;
    color: $dkgray;
    position: absolute;
    text-align: center;
    padding-top: 25%;
    font-size: 14px;
    top: 0;
    left: 0;
  }
}

.project-container {

  h2 {
    margin-left: 15px;
  }

  .proj-pic {
    padding: 5px;
    // @include span-columns(9.5);
    // width: 950px;
    // height: 550px;
  }

  .details {
    // @include span-columns(2.5);
    margin-left: 15px;
    display: inline-block;

    p a {
      text-decoration: none;
      color: $dkgray;
    }

    p a:hover {
      color: $red;
    }

    span a {
      text-decoration: none;
      font-size: 12px;
      color: $dkgray;
    }

    span a:hover {
      color: $red;
    }
  }
}


footer {
  background-color: $dkgray;
  color: lighten($dkgray, 68%);
  overflow: auto;

  .pic-foot {
    float: left;
    .pic {
      width: 100px;
      padding: 5px;
      border-radius: 50%;
      display: inline-block;
    }  
  }

  .name-foot {
    float: left;
    p {
      display: inline-block;
      margin-bottom: 5px;
      padding: 5px;
    }

    a {
      text-decoration: none;
      color: lighten($dkgray, 68%);
    } 
      
    a:hover {
      color: $red;
    }
  }


}