<div class="top-nav">
  <h2><a href="#/">CF</a></h2>

  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="#/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="#/about">About</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="#/portfolio">Portfolio</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="#/contact">Contact</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="https://medium.com/@fowler.cori">Blog</a></li>
    </ul>
  </div>

<!--   <nav>
    <ul>
      <li><a href="#/">Home</a></li>
      <li><a href="#/about">About</a></li>
      <li><a href="#/portfolio">Portfolio</a></li>
      <li><a href="#/contact">Contact</a></li>
      <li><a href="https://medium.com/@fowler.cori">Blog</a></li>
    </ul>
  </nav> -->
</div>

<section class="container" ui-view></section>

<footer>
  <div class="pic-foot">
    <img class="pic" src="images/IMG_4255.jpg">
  </div>
  <div class="name-foot">
    <p>Cori Fowler, Front End Developer
    <br>
    <a href="https://github.com/corifowler"><i class="fa fa-github"></i> github.com/corifowler</a>
    <br>
    <a href="tel:704-578-6101"><i class="fa fa-phone"></i> 704.578.6101</a>
    <br>
    <a href="mailto:fowler.cori@gmail.com"><i class="fa fa-envelope-o"></i> fowler.cori@gmail.com</a></p>
  </div>
</footer>

