<div class="top-nav">
  <h2><a href="#/">Cori Fowler</a></h2>
  <nav>
    <ul>
      <li><a href="#/">Home</a></li>
      <li><a href="#/about">About</a></li>
      <li><a href="#/portfolio">Portfolio</a></li>
      <li><a href="#/contact">Contact</a></li>
      <li><a href="https://medium.com/@fowler.cori"><i class="fa fa-medium"></i></a></li>
    </ul>
  </nav>
</div>

<section class="container" ui-view></section>

<footer>
  <div class="pic-foot">
    <img class="pic" src="https://c1.staticflickr.com/1/619/23621483111_d823ecee06_c.jpg">
  </div>
  <div class="name-foot">
    <p>Cori Fowler, Front End Developer
    <br>
    <br>
    <a href="tel:704-578-6101"><i class="fa fa-phone"></i> 704.578.6101</a>
    <br>
    <a href="mailto:fowler.cori@gmail.com"><i class="fa fa-envelope-o"></i> fowler.cori@gmail.com</a></p>
  </div>
</footer>

