<div class="about-container">
  <h1 class="about-title">About</h1>
  <a class="resume-download" href="images/CFowlerResume.pdf" download="CFowlerResume.pdf">download my resume (PDF)</a>
  <h2>Introduction</h2>
  <p class="about-me">I'm Cori, a Front End Developer, a problem-solver, and a creator. I found my passion for writing code and creating web applications through working in Education. Learning Computer Science with students has shown me the endless possibilities of writing code and about expressing yourself with technology. My favorite part of coding is that there is never just one solution to a problem, but many. I enjoy collaborating with others, learning from others, and sharing what I know.  As a developer, I am passionate about creating online experiences that are meaningful and efficient.</p>
  <h2>Skills</h2>
  <p class="about-me">
    <span class="col">JavaScript<br>jQuery<br>Underscore<br>Git</span>
    <span class="col">HTML5<br>CSS3<br>Sass/SCSS<br>Sublime</span>
    <span class="col">AngularJS<br>ReactJS<br>Backbone<br>Gulp</span>
    <span class="col">Foundation<br>Bourbon<br>Neat<br>NPM</span>
  </p>
  <h2>Previous Experience</h2>
  <p class="about-me">
    <span class="exp-title"><a href="https://www.theironyard.com/courses/javascript-and-mvc-frameworks.html">The Iron Yard-Atlanta</a></span>
    <br>
    <span class="date">Fall 2015</span>
    <br>
    12-week immersive coding bootcamp focusing on Front End Engineering
  </p>
  <p class="about-me">
    <span class="exp-title"><a href="http://okafterschool.org/">OKAN, Oklahoma's Expanded Learning Network</a></span>
    <br>
    <span class="date">2014-2015</span>
    <br>
    As a STEM Education Program Assistant, I facilitated Hour of Code activities to K-12 students throughout Oklahoma City.
  </p>
  <p class="about-me">
    <span class="exp-title"><a href="http://www.nationalservice.gov/programs/americorps/americorps-state-and-national">AmeriCorps State & National</a></span>
    <br>
    <span class="date">2012-2014</span>
    <br>
    I have served as an AmeriCorps member in <a href="http://www.literacypbc.org/programs/literacy-americorps/">South Florida</a> and <a href="http://washingtonservicecorps.org/">Federal Way, Washington</a>, working with high school students to serve their academic needs by identifying and removing barriers to their success.</p>
</div>