<div class="contact-page">

  <h1>Contact Me</h1>

  <ul class="contact-list">
    <li><a href="tel:704-578-6101"><i class="fa fa-phone"></i> 704.578.6101</a></li>
    <li><a href="mailto:fowler.cori@gmail.com"><i class="fa fa-envelope-o"></i> fowler.cori@gmail.com</a></li>
    <li><a href="https://twitter.com/codingCori"><i class="fa fa-twitter"></i> @codingCori</a></li>
    <li><a href="https://github.com/corifowler"><i class="fa fa-github"></i> github.com/corifowler</a></li>
    <li><a href="https://medium.com/@fowler.cori"><i class="fa fa-medium"></i> medium.com/@corifowler</a></li>
    <li><a href="https://www.linkedin.com/in/cori-fowler-86653696"><i class="fa fa-linkedin"></i> linked in</a></li>
  </ul>

</div>