
<div class="project-container">
  <h2>{{vm.project.project_name}}</h2>
  <hr>
  <div class="details">
    <p>{{vm.project.description}}</p>
    <p>
      <p><a href="{{vm.project.github_link}}"><i class="fa fa-github"></i> | view GitHub repository</a></p>
      <p><a href="{{vm.project.surge_link}}"><i class="fa fa-globe"></i> | view page</a></p>
    </p>
    <span><i class="fa fa-angle-left"></i> <a href="#/portfolio">back to portfolio</a></span>  
  </div>
  <img class="proj-pic" ng-src="{{vm.project.page_view}}">
</div>